html {
    height: 100%;
}

body {
    height: 100%;
    background: rgb(2, 0, 36);
    background: linear-gradient(180deg, rgba(2, 0, 36, 1) 0%, rgba(62, 8, 120, 1) 35%, rgba(138, 1, 207, 1) 100%);
}

.container {
    height: 100%;
}

h1 {
    color: white;
}
