html {
    font-family: 'Comfortaa', cursive;
    height: 100%;
}

body {
    height: 100%;
    background: rgb(2, 0, 36);
    background: linear-gradient(180deg, rgba(45, 6, 87, 1) 0%, rgba(62, 8, 120, 1) 35%, rgba(138, 1, 207, 1) 100%);
}

.container {
    height: 100%;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.title {
    font-family: 'Comfortaa', cursive;
    font-size: 65px;
    font-weight: 700;
    color: white;
    text-align: center;
    padding-top: 50px;
}

.subtitle {
    font-family: 'Comfortaa', cursive;
    font-size: 30px;
    font-weight: 700;
    color: white;
    text-align: center;
}

#dreamForm {
    font-family: 'Comfortaa', cursive;
    color: #8A01CF;
    background-color: white;
    padding: 25px;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 0 20px 25px rgba(45, 6, 70, 0.5);
}

#dreamForm h3 {
    font-size: 35px;
    font-weight: 600;
}

#dreamForm label {
    font-size: 20px;
    font-weight: 600;
    padding-right: 10px;

}

textarea {
    height: auto;
    width: 100%;
}

#add {
    color: #8A01CF;
    font-size: 20px;
    text-align: center;
    border-color: #8A01CF;
    margin-right: 15px;
}


#add:hover {
    color: white;
    background-color: #8A01CF;
}

/***************************/

#dreamLog {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    margin-top: 20px;
    height: 100%;
}

#filterDreams {
    font-family: 'Comfortaa', cursive;
    color: white;
    font-size: 20px;
    margin-right: 10px;
}

#dreamOptions {
    font-family: 'Comfortaa', cursive;
    margin-right: 15px;
}

#displayAll {
    color: #8A01CF;
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
    text-align: center;
    background-color: white;
    border-color: white;
    padding: 7px;
    /*box-shadow: 0 20px 25px rgba(45, 6, 70, 0.5);*/
}

#displayAll:hover {
    color: white;
    background-color: #3E0878;
    border-color: #3E0878;
}

/***************************************/

.dream-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dreamCard {
    margin-bottom: 25px;
    box-shadow: 0 20px 25px rgba(45, 6, 70, 0.5);
    border-radius: 10px;
}

.card {
    border-radius: 10px;
}

.card-body {
    font-family: 'Comfortaa', cursive;
    color: #3E0878;
    background-color: white;
    height: 100%;
}

.dreamName {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 50px;
    margin-bottom: 35px;
}

.group {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.label {
    font-weight: bold;
    font-size: 25px;
    margin-right: 10px;
    margin-bottom: 15px;
}

.answer {
    font-size: 20px;
}

.card-body p {
    font-size: 20px;
    margin-top: 10px;
}
